
body {
    background: beige;
}

#container {
    display: block;
    font-size: 30px;
    color: light green;
    
}

#header {
    font-size: 40px;
    color: olivedrab;
}

#homepagepic {
    padding: 20px 20px 20px 20px;
    border: 5px solid brown;
    height: 40%;
    width: 40%;
    background-color: beige;
}

#homepagequote {
    padding: 5px;
    
}