
body {
    background: rgb(241, 209, 139);
}

#container {
    display: block;
    font-size: 30px;
    color: light green;
    
}

#header {
    font-size: 40px;
    color: brown;
    font-weight:bolder;
}

#homepagepic {
    padding: 20px 20px 20px 20px;
    border: 5px solid brown;
    height: 36%;
    width: 36%;
    background-color: rgb(241, 209, 139);
}

#homepagequote {
    padding: 5px;
    color: brown;
}

div a {
    color: brown;
}